<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../.storybook/index.css" rel="stylesheet">
    <link href="card.css" rel="stylesheet">
</head>
<body>
<div class="card">
    <div class="card__image-wrapper">
        <img alt="" class="image image--rounded" src='https://i.scdn.co/image/ab67706f00000002277ea5bb5f307b527e3045ba'>
        <button class="card__play" type="button">
            <img alt="Stop" class="image image--play"/>
        </button>
    </div>
    <div class="card__name">
        Name
    </div>
    <div class="card__description">
        Description
    </div>
</div>
</body>
</html>
