<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../.storybook/index.css" rel="stylesheet">
    <link href="currentSong.css" rel="stylesheet">
</head>
<body>
<div class="song">
    <div class="image-wrapper">
        <img class="image" src="Song" alt="Song" />
    </div>
    <div class="song__info">
        <p class="song__name">
            Song name
        </p>
        <p class="song__artist">Artist name</p>
    </div>
    <button class="button" type="button">
        <img class="image" alt="Like a song" />
    </button>
</div>
</body>
</html>
