/* This is where your styles go! Don't forget to import the correct font (Roboto) from Google Fonts. */
@font-face {
    font-family: Roboto;
    src: url('assets/Roboto/Roboto-Light.ttf');
}

body {
    margin: 0;
    background: #28344c;
}


.container-header {
    text-align:center;
    width: 100vw;
    height: 15vh;
    background: #121A24;
}


.header__logo {
    height: 55%;
    align-self: center;
    margin-top: 3vh;

}

@media screen and (max-width: 1100px) {
    .header__item {
        display: none;
    }
    #sign-in-frame {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .container-header {
        display: grid;
        justify-content: normal;
        grid-template-columns: 25% 25% auto auto auto auto 25%;
        grid-template-rows: 100%;
    }

    .header__item {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 300;
        color: white;
    }

    .header__logo {
        height: 45%;
        align-self: center;
        grid-column: 2;
        margin-top: 0;
    }

    #store {
        align-self: center;
        grid-column: 3;
    }

    #community {
        align-self: center;
        grid-column: 4;
    }

    #about {
        align-self: center;
        grid-column: 5;
    }
    #support {
        align-self: center;
        grid-column: 6;
    }

    #root {
        display: grid;
        width: 100vw;
        height: 85vh;
        grid-template-rows: 3vh 8vh 3vh auto 5vh auto;
        grid-template-columns: 24vw 52vw 24vw;
    }

    #sign-in-frame {
        grid-column: 2;
        grid-row: 5;
        background: rgba(0, 0, 0, 0.2);
        align-self: center;
    }

    #sign-in {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        align-self: center;
        margin: 1.5%;
        font-size: small;
        font-weight: 500;
        color: #FFFFFF;
    }

}


