<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../.storybook/index.css" rel="stylesheet">
    <link href="artist.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="buttons">
        <button class="navigation-button" type="button">
            <img alt="Go back" class="image">
        </button>
        <button class="navigation-button" type="button">
            <img alt="Go next" class="image">
        </button>
    </div>
    <div class="author">
        <div class="author__photo-wrapper">
            <img alt="Author" class="image author__photo">
        </div>
        <div class="author__info">
            <span class="author__listeners">XXX monthly listeners</span>
            <span class="author__name">Name</span>
            <div class="author__verified">
                <div class="image-container image-container--artist">
                    <img alt="Verified artist" class="image">
                </div>
                Verified Artist
            </div>
        </div>
    </div>
</div>
</body>
</html>
